In [2]:
import numpy as np 
import pandas as pd

In [69]:
df = pd.read_csv("resources/all.csv")

In [70]:
df.head()

,Dex,Name,Type,Abilities,HP,A,D,SA,SD,SP,Strong Against,Weak Against,Resistant To,Vulnerable To,base stat total,base stat avg
0,#001,Bulbasaur,"['grass', 'poison']","['Overgrow', 'Chlorophyll']",45,49,49,65,65,45,"['water', 'fairy']","['flying', 'poison', 'bug', 'ghost', 'steel', ...","['fighting', 'water', 'grass', 'electric', 'fa...","['flying', 'fire', 'psychic', 'ice']",318,53
1,#002,Ivysaur,"['grass', 'poison']","['Overgrow', 'Chlorophyll']",60,62,63,80,80,60,"['water', 'fairy']","['flying', 'poison', 'bug', 'ghost', 'steel', ...","['fighting', 'water', 'grass', 'electric', 'fa...","['flying', 'fire', 'psychic', 'ice']",405,67
2,#003,Venusaur,"['grass', 'poison']","['Overgrow', 'Chlorophyll']",80,82,83,100,100,80,"['water', 'fairy']","['flying', 'poison', 'bug', 'ghost', 'steel', ...","['fighting', 'water', 'grass', 'electric', 'fa...","['flying', 'fire', 'psychic', 'ice']",525,87
3,#004,Charmander,['fire'],"['Blaze', 'Solar Power']",39,52,43,60,50,65,"['bug', 'steel', 'grass', 'ice']","['rock', 'fire', 'water', 'dragon']","['bug', 'steel', 'fire', 'grass', 'ice', 'fairy']","['ground', 'rock', 'water']",309,51
4,#005,Charmeleon,['fire'],"['Blaze', 'Solar Power']",58,64,58,80,65,80,"['bug', 'steel', 'grass', 'ice']","['rock', 'fire', 'water', 'dragon']","['bug', 'steel', 'fire', 'grass', 'ice', 'fairy']","['ground', 'rock', 'water']",405,67

In [64]:
for i in range(0,len(df.index)):
    if df.iloc[i].iloc[0] == 816:
        df.at[i,'Starter'] = True
        break

In [89]:
df = df.drop(labels='base stat avg',axis=1)
df.head()

    Dex        Name
0  #001   Bulbasaur
1  #002     Ivysaur
2  #003    Venusaur
3  #004  Charmander
4  #005  Charmeleon

In [100]:
df['Icon'] = 0

In [117]:
for row in df.iterrows():
    s1 = 'resources/sugimori/'
    s2 = '.png'
    id = row[1][0]
    id = id[1:]
    id = id.lstrip('0')
    row[1][3] = s1 + id + s2
    break

In [105]:
df.to_csv("resources/all.csv")

In [118]:
df.head()

    Dex        Name  Score  Sugimori  Icon
0  #001   Bulbasaur      0         0     0
1  #002     Ivysaur      0         0     0
2  #003    Venusaur      0         0     0
3  #004  Charmander      0         0     0
4  #005  Charmeleon      0         0     0

In [28]:
df = pd.read_csv("resources/starter9.csv")

In [33]:
df.head()

,Id,Dex,Name,Score,Sugimori,Icon
0,0,#001,Bulbasaur,0,resources/Starter9/sugimori/1.png,/resources/icons/Starter9/1.png
1,1,#002,Ivysaur,0,resources/Starter9/sugimori/2.png,0
2,2,#003,Venusaur,0,resources/Starter9/sugimori/3.png,0
3,3,#004,Charmander,0,resources/Starter9/sugimori/4.png,0
4,4,#005,Charmeleon,0,resources/Starter9/sugimori/5.png,0

In [32]:
for row in df.iterrows():
    s1 = 'resources/Starter9/sugimori/'
    s2 = '.png'
    id = row[1][0]
    df.loc[df['Id'] == id, 'Sugimori'] = s1 + str(id+1) + s2