In [1]:
import numpy as np 
import pandas as pd

In [3]:
df = pd.read_csv("starter9.csv")

In [4]:
df.head()

,Id,Dex,Name,Score,Votes,Sugimori,Icon
0,4,#005,Charmeleon,0,0,resources/Starter9/sugimori/5.png,resources/Starter9/icon/5.png
1,6,#007,Squirtle,0,0,resources/Starter9/sugimori/7.png,resources/Starter9/icon/7.png
2,8,#009,Blastoise,0,0,resources/Starter9/sugimori/9.png,resources/Starter9/icon/9.png
3,0,#001,Bulbasaur,0,1,resources/Starter9/sugimori/1.png,resources/Starter9/icon/1.png
4,2,#003,Venusaur,-1,1,resources/Starter9/sugimori/3.png,resources/Starter9/icon/3.png

In [57]:
### BE CAREFUL WITH THIS
df = df.drop(df.columns[0],axis=1)
df.head()

,Name,Score,Votes,Sugimori,Icon
4,Bulbasaur,0,1,resources/Starter9/sugimori/1.png,resources/Starter9/icon/1.png
5,Ivysaur,0,3,resources/Starter9/sugimori/2.png,resources/Starter9/icon/2.png
0,Venusaur,0,0,resources/Starter9/sugimori/3.png,resources/Starter9/icon/3.png
8,Charmander,0,4,resources/Starter9/sugimori/4.png,resources/Starter9/icon/4.png
1,Charmeleon,0,0,resources/Starter9/sugimori/5.png,resources/Starter9/icon/5.png

In [105]:
df.to_csv("resources/all.csv",index=False)

In [89]:
df.head()

,Id,Dex,Name,Score,Votes,Sugimori,Icon
0,4,#001,Bulbasaur,0,1,resources/Starter9/sugimori/1.png,resources/Starter9/icon/1.png
1,5,#002,Ivysaur,0,3,resources/Starter9/sugimori/2.png,resources/Starter9/icon/2.png
2,0,#003,Venusaur,0,0,resources/Starter9/sugimori/3.png,resources/Starter9/icon/3.png
3,8,#004,Charmander,0,4,resources/Starter9/sugimori/4.png,resources/Starter9/icon/4.png
4,1,#005,Charmeleon,0,0,resources/Starter9/sugimori/5.png,resources/Starter9/icon/5.png

In [136]:
df = pd.read_csv("resources/starter9.csv")

In [137]:
df.head()

,Id,Dex,Name,Score,Votes,Sugimori,Icon
0,2,#003,Venusaur,0,0,resources/Starter9/sugimori/3.png,resources/Starter9/icon/3.png
1,4,#005,Charmeleon,0,0,resources/Starter9/sugimori/5.png,resources/Starter9/icon/5.png
2,6,#007,Squirtle,0,0,resources/Starter9/sugimori/7.png,resources/Starter9/icon/7.png
3,8,#009,Blastoise,0,0,resources/Starter9/sugimori/9.png,resources/Starter9/icon/9.png
4,0,#001,Bulbasaur,0,1,resources/Starter9/sugimori/1.png,resources/Starter9/icon/1.png

In [112]:
df = df.sort_values('Votes',axis=0,ascending=True,kind='quicksort')

In [5]:
for row in df.iterrows():
    s1 = 'resources/sugimori/Starter9/'
    s2 = '.png'
    id = row[1][0]
    df.loc[df['Id'] == id, 'Sugimori'] = s1 + str(id+1) + s2

In [6]:
for row in df.iterrows():
    s1 = 'resources/icon/Starter9/'
    s2 = '.png'
    id = row[1][0]
    df.loc[df['Id'] == id, 'Icon'] = s1 + str(id+1) + s2

In [96]:
for row in df.iterrows():
    i = row[0]
    df.iloc[i, 0] = i

In [7]:
df.to_csv("starter9.csv", index=False)

In [158]:
df[df['Id'] == 3].iloc[0][2]

'Charmander'

In [151]:
df.loc[0, 'Votes'] += 1
df.head()

,Id,Dex,Name,Score,Votes,Sugimori,Icon
0,2,#003,Venusaur,0,14,resources/Starter9/sugimori/3.png,resources/Starter9/icon/3.png
1,4,#005,Charmeleon,0,0,resources/Starter9/sugimori/5.png,resources/Starter9/icon/5.png
2,6,#007,Squirtle,0,0,resources/Starter9/sugimori/7.png,resources/Starter9/icon/7.png
3,8,#009,Blastoise,0,0,resources/Starter9/sugimori/9.png,resources/Starter9/icon/9.png
4,0,#001,Bulbasaur,0,1,resources/Starter9/sugimori/1.png,resources/Starter9/icon/1.png

In [152]:
df['Votes']=0
df.head()

,Id,Dex,Name,Score,Votes,Sugimori,Icon
0,2,#003,Venusaur,0,0,resources/Starter9/sugimori/3.png,resources/Starter9/icon/3.png
1,4,#005,Charmeleon,0,0,resources/Starter9/sugimori/5.png,resources/Starter9/icon/5.png
2,6,#007,Squirtle,0,0,resources/Starter9/sugimori/7.png,resources/Starter9/icon/7.png
3,8,#009,Blastoise,0,0,resources/Starter9/sugimori/9.png,resources/Starter9/icon/9.png
4,0,#001,Bulbasaur,0,0,resources/Starter9/sugimori/1.png,resources/Starter9/icon/1.png

In [165]:
df.loc[2, 'Name']

'Squirtle'